# .gitignore for TackEngineLibExamples

FlappyBirdGameExample/bin/*
FlappyBirdGameExample/Bin/*
FlappyBirdGameExample/obj/*
FlappyBirdGameExample/Obj/*

# Template project
TemplateProject/bin/*
TemplateProject/Bin/*
TemplateProject/obj/*
TemplateProject/Obj/*

TackEngineLib/*
