# .gitignore for TackEngineLibExamples
.vs/*
TackEngineLib

# Flappy Bird Game Example
FlappyBirdGameExample/.vs/*
FlappyBirdGameExample/FlappyBirdGameExampleDesktop/bin/*
FlappyBirdGameExample/FlappyBirdGameExampleDesktop/Bin/*
FlappyBirdGameExample/FlappyBirdGameExampleDesktop/obj/*
FlappyBirdGameExample/FlappyBirdGameExampleDesktop/Obj/*

FlappyBirdGameExample/FlappyBirdGameExampleAndroid/bin/*
FlappyBirdGameExample/FlappyBirdGameExampleAndroid/Bin/*
FlappyBirdGameExample/FlappyBirdGameExampleAndroid/obj/*
FlappyBirdGameExample/FlappyBirdGameExampleAndroid/Obj/*

# Template project
TemplateProject/bin/*
TemplateProject/Bin/*
TemplateProject/obj/*
TemplateProject/Obj/*
